<% provide(:title, 'All Shortlinks') %>
<h1>All Shortlinks</h1>

<ul class="users">
  <% @shortlinks.each do |shortlink| %>
    <li>
      <%= shortlink.shorturl %>, <%= shortlink.longurl %>, <%= link_to shortlink.shorturl, shortlink.longurl %>
    </li>
  <% end %>
</ul>

<table class="table">   
  <thead class="thead-dark">     
  <tr>       
    <th scope="col">Shorturl</th>       
    <th scope="col">Longurl</th>       
    <th scope="col">View Url</th>       
    <th scope="col">Delete</th>     
    </tr>   
    </thead>   
    <tbody>     
    <% @shortlinks.each do |shortlink| %>       
    <tr>         
    <td><%= shortlink.shorturl %></td>         
    <td><%= shortlink.longurl %></td>         
    <td><%= link_to shortlink.shorturl, 'View' %></td>         
    <td><button class="btn btn-danger">Delete</button></td>       
    </tr>     
    <% end %>
  </tbody>
</table>
